:root {
  --background-color: #f0f2f5;

  --border-grey-line: 1px solid #e3e3e3;
  --border-radius: 5px;

  --color-app: #8685ef;
  --color-app-hover: #7574e2;
  --color-grey: grey;
  --color-info: #ff83b1;
  --color-success: #00ac87;
  --color-danger: #ee6464;
  --color-warning: orange;

  --font-family: Montserrat, tahoma, verdana, sans-serif;

  --linked-in: #0077b5;

  --modal-overlay-color: #0000004a;
  --modal-padding: 100px;
  --modal-zIndex: 90;

  --spacing-size-a: 5px;
  --spacing-size-b: 10px;
  --spacing-size-c: 15px;
  --spacing-size-d: 20px;
  --spacing-size-e: 30px;

  --table-color: #ffffff;
  --table-tr-odd-background: #f7f7f7;
  --text-color: #292929;
}

/* ----------- Desktop Screens ----------- */
@media screen and (min-width: 1200px) {
  :root {
    --font-size-sm: 12px;
    --font-size-m: 17px;
    --font-size-l: 21px;
  }
}

/* ----------- Tablet Screens ----------- */
@media only screen and (min-width: 768px) and (max-width: 1200px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 14px;
    --font-size-l: 19px;
  }
}

/* ----------- Mobile Screens ----------- */
@media only screen and (max-width: 768px) {
  :root {
    --font-size-sm: 10px;
    --font-size-m: 12px;
    --font-size-l: 17px;
  }
}
