@import '../../common/styles/mixins.scss';

.title {
  color: var(--color-app);
  margin: var(--spacing-size-d) 0;
}

.quotes-page {
  @include flexCenter(column);
}

.advance-tools {
  @include flexCenter(row);
  margin: 0 var(--spacing-size-a) 0 var(--spacing-size-b);

  & > div:first-child {
    flex: 1;
  }

  & > div > .add-button {
    cursor: pointer;
  }
}

#author-info {
  @include flexCenter(column);
  padding: var(--spacing-size-b) var(--spacing-size-e);

  & > p {
    margin: var(--spacing-size-b) 0;
  }
}

input[type='text']#search-author {
  --search-author-input-border-radius: 20px;
  --search-author-input-borer: 1px solid #ccc;
  --search-author-input-padding: 12px 20px;
  --search-author-input-width: 350px;
  box-sizing: border-box;
  display: inline-block;
  border: var(--search-author-input-borer);
  border-radius: var(--search-author-input-border-radius);
  padding: var(--search-author-input-padding);
  width: var(--search-author-input-width);
}

.add-button {
  --add-button-border-radius: 50px;
  --add-button-color: #ffa184;
  --add-button-color-hover: #fb8d6b;
  --add-button-width: 150px;
  background: var(--add-button-color);
  border: 1px solid var(--add-button-color);
  border-radius: var(--add-button-border-radius);
  color: white;
  cursor: pointer;
  margin: 0 var(--spacing-size-a);
  padding: var(--spacing-size-b);
  width: var(--add-button-width);

  &:hover {
    background: var(--add-button-color-hover);
  }
}

#author-info {
  padding: var(--spacing-size-e);

  & > h2 {
    color: var(--color-app);
  }
}
