@import '../../common/styles/mixins.scss';

.title {
  margin: var(--spacing-size-d) 0;
}

.quotes-page {
  @include flexCenter(column);
}

.advance-tools {
  @include flexCenter(row);

  & > div:first-child {
    flex: 1;
  }

  & > div > .add-button {
    cursor: pointer;
  }
}

#quotes-page-table {
  border: var(--border-grey-line);
  margin: var(--spacing-size-d) 0;
  text-align: center;

  & > thead > tr > th:nth-child(1) {
    width: 150px;
  }
  & > thead > tr > th:nth-child(2) {
    width: 580px;
  }
  & > thead > tr > th:nth-child(3) {
    width: 150px;
  }

  & > tbody > tr > td:nth-child(3) {
    @include flexCenter(row);

    & > .action-button {
      @include flexCenter(row);

      border: var(--border-grey-line);
      border-radius: var(--border-radius);
      color: var(--color-grey);
      cursor: pointer;
      margin: 0;
      padding: var(--spacing-size-a);
    }
    & > .action-button:nth-child(2) {
      margin: 0 var(--spacing-size-a);
    }
    & > .action-button:hover {
      filter: brightness(0.85);
    }
  }
}
